<h1>Covid Prevention</h1>
<h2>7 ways you can reduce the spread of COVID-19</h2>

<ul>
   <li>Get the COVID-19 vaccine if you are eligible. ...</li>
   <li>Wash your hands with soap and water for at least 20 seconds after any activity. ...</li>
   <li>Wear a mask or cloth face covering. ...</li>
   <li>Clean "high-touch" surfaces regularly. ...</li>
   <li>Cover coughs and sneezes. ...</li>
   <li>Monitor your health daily.</li>
</ul>